@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Rajdhani&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css');



:root{
    --font-titles: Rajdhani;
    --font-text:'Nova Square';
    --main-color:darkred;
    --text-color:black;
    --secondary-color:rgb(236, 236, 236);
}

.bg-main{
    background-color: var(--main-color);
}

.bg-secondary-color{
    background-color: var(--secondary-color);
}

.bg-switz{
    background:url(./prompt/media/mountains2.png),linear-gradient(white,rgba(0, 0, 0, 0)), url(./prompt/media/switzerland-862870_1920.jpg);
    background-repeat:no-repeat;
    background-size:contain,cover, cover;
    background-position: bottom left, center, center;
}

.bg-trees{
    background:url(./prompt/media/trees2.png);
    background-repeat:no-repeat;
    background-size: 100vw;
    background-position: bottom left;
}

.bg-red-trees{
    background:url(./prompt/media/other.png);
    background-repeat:no-repeat;
    background-size: 100vw;
    background-position: bottom left;
}

.spacer{
    display: inline-block;
    height: 50vh;
}

.titlecolor{
    color:var(--main-color);
}

.secondary{
    color:var(--secondary-color);
}

.bordered{
    border:3px solid var(--main-color)
}

/* Text-font and sizing */

*{          
    font-family: var(--font-text);
    color:var(--text-color);
    font-size: 1rem;
}


h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5{
    font-family:var(--font-text);    
    color:var(--main-color);
}

h1,.h1{
    font-size: 4.5rem;
    font-weight: 500;
    text-transform:uppercase;
    letter-spacing: 2.5rem;
}


h2,h3,.h2,.h3{
    font-size:1.8rem;
    font-weight: 500;
    text-transform: uppercase;
}





/*H1 letter-spacing for smaller devices*/
@media screen and (max-width:700px) {
    h1{
        letter-spacing: 1rem;
    }
    
}

/* logo and background elements */
.logo{
    width: 10rem;
}

.bg-mountains{
    background:linear-gradient(white,rgba(0, 0, 0, 0)), url(./prompt/media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
}


/*custom-element-height*/
.vh-75{
    height:75vh;
}
.width-100{
    width: 98vw;
}

/* Quotes before and after quote element*/
.quote{
    font-style: italic;
}

.quote::before,.quote::after{
    position: relative;
    font-family: var(--font-titles);
    color:var(--main-color);
    font-size:3rem;
    font-weight: 900;
    line-height: 0%; 
    font-style: italic;
}

.quote::before{
    content:'“';   
}

.quote::after{
    content:'„';    
}


/*circle-line-border*/

.redline-left{
    position:relative;
    border-bottom: 3px;
}


.border-circle-left{
    position:relative;
    border-bottom: 3px solid var(--main-color);
    border-top:3px solid var(--main-color);   
  
}

.border-circle-right{
    position:relative;
    border-bottom: 3px solid var(--main-color);
    border-top:3px solid var(--main-color);

}

.border-circle-left::after{ 
    /* codice generico per ogni elemento after  */
    content: '';
    position:absolute;
    right:0;
    
    /* do un bordo e un background ai miei circolini */
    border:5px solid var(--main-color);
    border-radius: 50%;
    background-color: var(--secondary-color);
    /* dimensioni dei miei cerchietti */

    width: 1.5rem;
    height:1.5rem;

    /* posizioni relative al div genitore. ahiai */

    top:-10px;
    
}

/* custom-button */

.btn-red{
    background-color: var(--main-color);
    color:var(--secondary-color);    
}

.btn-red:hover{
    background: radial-gradient(rgba(255, 255, 255, 0.2),rgba(0, 0, 0, 0.1)),var(--main-color);
    color:var(--secondary-color);
}

/*timeline*/
.border-left{
    border-left: 3px solid var(--main-color);
}

.circle-before{
    position:relative;

}

.circle-before::before{
    position:absolute;
    content: '';
    background-color: white;
    
    
    border: 3px solid var(--main-color);
    border-radius: 50%;
    
    width:20px;
    height:20px;
    left:-25px;    
}