:root {
	--clr: hsl(70, 73%, 88%);
	--bg: hsl(240, 93%, 6%);
	--accent: hsl(38, 49%, 62%);
}
li,
p {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.5vw;
}
h1 {
	font-size: 3vw;
}
.body-clr {
	background-color: var(--bg);
	color: var(--clr);
}
a {
	color: var(--accent);
	text-decoration: dashed underline;
}
a:hover {
	color: var(--clr);
	text-decoration: underline;
}
.p-2em {
	padding: 2em;
}
