:root {
	--clr: hsl(70, 50%, 80%);
	--bg: hsl(240, 70%, 6%);
	--accent: hsl(38, 49%, 62%);
	--dark-accent: hsl(38, 49%, 2%);
	--fs-h1: clamp(2em, 4vw, 4vw);
	--fs: clamp(1em, 1.5vw, 1.5vw);
}
html {
	background-color: var(--dark-accent);
}

li,
p,
a {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: var(--fs);
}
li {
	padding-bottom: 0.4em;
}
h1 {
	font-size: var(--fs-h1);
}

a {
	color: var(--accent);
	text-underline-offset: 0.3em;
	text-decoration-style: dashed;
}

a:hover {
	color: var(--clr);
	text-decoration: underline;
}

.repod details {
	display: inline;
}
.repod details[open] {
	display: block;
	position: relative;
	padding-left: 2em;
}
.repod details[open] > summary {
	position: absolute;
	left: 1em;
}

.body-clr {
	background-color: var(--bg);
	background: linear-gradient(var(--bg) 95%, transparent);
	background-repeat: no-repeat;
	color: var(--clr);
}

.mh-80vh {
	min-height: 80vh;
}
.p-2em {
	padding: 2em;
}
.pw-2em {
	padding-inline: 2em;
}
